@model List<EventosApp.Models.Evento>

@{
    Layout = "~/Views/Shared/Plantilla.cshtml";
}


<h1>Eventos actuales</h1>

@foreach (var evento in Model)
{
    <div>
        <h2>@evento.Nombre</h2>
        <a href="~/eventos/ver/@evento.Id">
            <img src="@evento.Foto" />
        </a>
        <h3>Lista de precios para este evento</h3>

        <ul>
            @foreach (var precio in evento.Precios)
            {
                <li>@precio.Zona: @precio.Precio1</li>
            }
        </ul>
    </div>
}