<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Listado de eventos actuales</title>
    <link href="~/Content/CSS/EventosApp.css" rel="stylesheet" />
</head>
<body>
    <header>
        <img height="200" src="http://cdn5.redfrancia.com/wp-content/uploads/2013/04/logo_eventos_redfrancia-com.png?w=240" />
    </header>
    <nav>
        <ul>
            <li><a href="/eventos/listado">Listado de eventos</a></li>
            <li><a href="/eventos/promociones">Promociones</a></li>
            <li><a href="/portal/contacto">Contacto</a></li>
        </ul>
    </nav>
    <div>
        @RenderBody()
    </div>
    <footer>
        &copy; 2017 EventosApp v2.0
    </footer>
</body>
</html>
